<html lang="en-us">
<head>
  <meta charset="UTF-8">
  <title>CSS Style Page</title>

/* table {
    border-style: hidden;
    border-collapse: collapse;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd; */

<style>
    .table.dataframe-striped {
        display: inside;
    }

    h2 {
        margin-top: 15px;
        font: "Courier New", Courier, monospace;
        color: rgb(30, 172, 124);
        margin-bottom: 15px;
    }

</style>