

h2 {
    margin-top: 15px;
    font: "Courier New", Courier, monospace;
    color: rgb(76, 160, 149);
    margin-bottom: 15px;
}

h3 {
    margin-top: 15px;
    font: "Courier New", Courier, monospace;
    color: rgb(76, 160, 149);
    margin-bottom: 15px;
    text-align: center;
}

p {
    font-size:20px;
}


.jumbotron {
    background-color: rgb(210, 211, 210);
}


div {
    padding: 10px;
}


.box {
    height: 400px;
    padding: 20px;
    color: #fff;
    background: deepskyblue;
}


